/* font add */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common style */
body{
    background-color: #1A0B2E;
    color: #FFFFFF;
}
.btn{
    padding: 12.5px 16px;
    border: none;
    border-radius: 10000px;
    color: #FFFFFF;
    font-weight: 600;
    /* background-color: #FB09B4; */
    background: linear-gradient(to right top, #F7E93F, #FB09B4, #9100F8);
    cursor: pointer;
    display: flex;
    gap: 4px;
    align-items: center;
    transition: transform 1s;
}
.btn:hover{
    transform: scale(1.1);
}
.width{
    max-width: 1200px;
    margin: 0 auto;
}
.title{
    font-size: 3rem;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 16px;
}
.center{
    text-align: center;
}
.name{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 15px;
    color: rgba(255, 255, 255, 0.8);
}
.description{
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 12px;
    color: rgba(255, 255, 255, 0.6);
}

/* navigation bar*/
.navigation{
    background-color: #1A0B2E;
    border-bottom: 1px solid #7c17ff43;
}
.navigation-bar{
    max-width: 1200px;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    margin: 0 auto;
    align-items: center;
}
.logo{
    font-size: 3rem;
    font-weight: bold;
    transition: transform 1s;
}
.logo:hover{
    font-size: 3rem;
    font-weight: 900;
    position: relative;
    transform: scale(2) translate(80px);   
}
.wave{
    background: linear-gradient(30deg, #F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.navigation-bar .links ul{
    list-style: none;
    display: flex;
    gap: 32px;
}
.navigation-bar .links ul a{
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    font-weight: 500;
    line-height: 120%;
}
.navigation-bar .humburger{
    display: none;
}

/* banner section */
.banner{
    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 101px 0;
    background-position: center;
    width: 100%;
    min-height: 760px;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}
.banner .banner-content-parent{
    max-width: 550px;
    margin: 0 auto;
    position: relative;
}
.banner-content-parent .new{
    background-color: #00FF88;
    color: #1A0B2E;
    border-radius: 1000px;
    padding: 8px 16px;
    font-size: 1.125rem;
    font-weight: 600;
    position: absolute;
    top: 16px;
    right: 120px;
    z-index: 1;
    cursor: pointer;
    transition: transform 1s;
}
.banner-content-parent .new:hover{
    transform: scale(1.2);
}
.banner-content-parent .bg{
    width: 350px;
    height: 350px;
    margin: 0 auto 40px;
    background-image: url(../assets/hero-circle.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
    border-radius: 50%;
    position: relative;
}
.microphone{
    width: 116px;
    height: 175px;
    /* margin: 0 auto; */
    /* display: block; */
    position: relative;
    /* bottom: 98px; */
}
.banner-content-parent .banner-name{
    font-size: 3.75rem;
    font-weight: 800;
    margin-bottom: 8px;
}
.banner-content-parent .description{
    margin-bottom: 24px;
}
.banner-content-parent .btns{
    display: flex;
    gap: 8px;
    justify-content: center;
}
.banner-content-parent .btns .btn2{
    background: transparent;
    color: #00FF88;
    border: 1px solid #00FF88;
}

/* about section */
.about .about-header .about-description{
    font-weight: 400;
    margin-bottom: 80px;
    color: rgba(255, 255, 255, 0.8);
    line-height: 20px;
}
.about .about-content-parent hr{
    margin-bottom: 80px;
    opacity: 10%;
}
.about .about-footer{
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    margin-bottom: 120px;
    justify-content: center;
}
.about-footer .about-content .about-num{
    color: #00FF88 ;
    font-size: 3rem;
    font-weight: 900;
    /* text-align: center; */
    margin-bottom: 16px;
    /* padding: 0 20px; */
}
.about-footer .about-content .about-name{
    color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
}

/* choose section */
.choose{
    background-color: #230E3D;
    padding-top: 120px;
    padding-bottom: 120px;
}
.choose-parent .title{
    margin-top: 0;
    margin-bottom: 40px;
}
#id1{
    grid-area: id1;
    padding: 107px 40px;
}
#id2{
    grid-area: id2;
    padding: 40px;
}
#id3{
    grid-area: id3;
    padding: 40px;
}
#id4{
    grid-area: id4;
    padding: 40px;  
}
#id5{
    grid-area: id5;
    padding: 40px;
}
.choose-parent .techwave-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    grid-template-areas: 
    "id1 id2 id2"
    "id1 id3 id3"
    "id4 id4 id5";
}
.techwave{
    background-color: #351165;
    border-radius: 40px;
    text-align: start;
}
.techwave-cards .wave-icon{
    margin-bottom: 16px;
    max-width: 60px;
    max-height: 60px;
}
#id4 i{
    font-size: 3rem;
    max-width: 60px;
    max-height: 60px;
    background: linear-gradient(30deg, #F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* feature section */
.feature-parent .title{
    margin-bottom: 40px;
}
.feature-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}
.feature-cards .card{
    max-width: 380px;
    max-height: 440px;
    border-radius: 12px;
    text-align: left;
    background-color: #250D44;
    overflow: hidden;
    transition: transform 1s;
}
.feature-cards .card:hover{
    border: 1px solid tomato;
    transform: scale(1.1);
}
.feature-cards .card iframe{
    width: 100%;
    /* max-height: 214px; */
    /* object-fit: cover; */
}
.card .info{
    text-align: left;
    padding: 24px;
}
.card .info .watch-time{
    display: flex;
    gap: 6px;
    color: #00FF88;
    font-weight: 600;
}

/* meet section */
.meet-card{
    display: flex;
    gap: 24px;
    padding: 40px;
    border-radius: 40px;
    background-color: #250D44;
    margin-bottom: 120px;
}
.meet-img{
    max-width: 200px;
    max-height: 200px;
}
.meet-info{
    text-align: left;
}
.social-links ul{
    list-style: none;
    display: flex;
    gap: 8px;
    margin-top: 16px;
}
.social-links ul li{
    max-width: 40px;
    max-height: 40px;
    border: 1px solid #533C72;
    border-radius: 30px;
    padding: 12.5px;
    cursor: pointer;
    transition: transform 1s;
}
.social-links ul li:hover{
    transform: scale(1.2);
}
.social-links ul li a{
    /* background-color: #533C72;
    border: 1px solid #7756a367;
    border-radius: 50%; */
    font-size: 15px;
    max-width: 16px;
    max-height: 16px;
}

/* footer section */
footer{
    background-image: url("../assets/footer-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 120px;
    background-position: center;
    width: 100%;
    /* min-height: 412px; */
}
.footer-content-parent{
    text-align: center;
}
.footer-content-parent .normal{
    font-size: 4rem;
    font-weight: 800;
    color: #FFFFFF;
}
.footer-content-parent .linear{
    font-size: 4rem;
    font-weight: 800;
    background: linear-gradient(30deg, #F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.footer-content-parent ul{
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 32px auto;
    justify-content: center;
}
.footer-content-parent ul li{
    display: flex;
    gap: 8px;
    align-items: center;  
    cursor: pointer; 
}
.platform-name{
    color: rgba(255, 255, 255, 0.6) ;
    font-weight: 500;
}



/* small device */
@media screen and (max-width: 576px){
    .title{
        font-size: 2rem;
    }
    .navigation-bar .links ul,
    .navigation .btn{
        display: none;
    }
    .navigation-bar .humburger{
        display: flex;
        background: transparent;
        border: none;
        cursor: pointer;
        width: 24px;
        height: 24px;
        margin-right: 20px;
    }

    .banner{
        /* background-repeat: no-repeat; */
        /* background-size: cover; */
        /* text-align: center; */
        /* padding: 101px 0; */
        /* background-position: center; */
        padding: 40px 20px;
        min-height: 440px;
    }
    .banner .banner-content-parent{
        max-width: 400px;
    }
    .banner-content-parent .new{
        top: 50px;
        right: 75px;
    }
    .banner-content-parent .bg{
        width: 200px;
        height: 200px;
        margin: 0 auto 40px;
        top: 40px;
        margin-bottom: 60px;
    }
    .microphone{
        width: 47px;
        height: 70px;
        position: relative;
    }

    .about .about-header .about-description{
        margin-bottom: 40px;
    }
    .about .about-content-parent hr{
        margin-bottom: 40px;
    }
    .about .about-footer{
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        /* justify-content: space-between; */
        margin: 0 20px 40px;
    }

    .choose-parent .techwave-cards{
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 
        "id1"
        "id2"
        "id3"
        "id4"
        "id5";
    }
    .techwave{
        max-width: 400px;
        margin: 0 20px;
    }
    #id1, #id2, #id3, #id4, #id5{
        padding: 24px;
    }

    .feature-cards{
        flex-direction: column;
        justify-self: center;
    }

    .meet-card{
        flex-direction: column;
        gap: 24px;
    }
    .meet-img{
        margin: 0 auto;
    }
    .meet-info{
        text-align: center;
    }

    footer{
        padding: 40px 20px;
    }
    footer h3{
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }
    .platforms ul{
        display: flex;
        gap: 16px;
        margin: 24px auto;
    }
    .social-links ul,  .platforms ul, .about-footer{
        flex-wrap: wrap;
        justify-content: center;
    } 
}

/* medium device */
@media screen and (min-width: 576px) and (max-width: 992px){
    .navigation-bar .links ul,
    .navigation .btn{
        display: none;
    }
    .navigation-bar .humburger{
        display: flex;
        background: transparent;
        border: none;
        cursor: pointer;
        width: 24px;
        height: 24px;
        margin-right: 20px;
    }
    .about .about-footer{
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        margin-bottom: 40px;
    }
}

/* large device */
@media screen and (max-width: 992px){
    .navigation-bar .links ul,
    .navigation .btn{
        display: none;
    }
    .navigation-bar .humburger{
        display: flex;
        background: transparent;
        border: none;
        cursor: pointer;
        width: 24px;
        height: 24px;
        margin-right: 20px;
    }
    
    .choose-parent .techwave-cards{
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 
        "id1"
        "id2"
        "id3"
        "id4"
        "id5";
    }
    .techwave{
        max-width: 100%;
        margin: 0 20px;
    }
    #id1, #id2, #id3, #id4, #id5{
        padding: 24px;
    }
}