/* font add */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common style */
body{
    background-color: #1A0B2E;
    color: #FFFFFF;
}
.btn{
    padding: 12.5px 16px;
    border: none;
    border-radius: 10000px;
    color: #FFFFFF;
    font-weight: 600;
    /* background-color: #FB09B4; */
    background: linear-gradient(to right top, #F7E93F, #FB09B4, #9100F8);
    cursor: pointer;
    display: flex;
    gap: 4px;
    align-items: center;
}
.width{
    max-width: 1200px;
    margin: 0 auto;
}
.title{
    font-size: 3rem;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 16px;
}
.center{
    text-align: center;
}

/* navigation bar*/
.navigation{
    background-color: #1A0B2E;
    border-bottom: 1px solid #7c17ff43;
}
.navigation-bar{
    max-width: 1200px;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    margin: 0 auto;
    align-items: center;
}
.logo{
    font-size: 3rem;
    font-weight: bold;
}
.wave{
    color: #FB09B4;
    /* background: linear-gradient(to right top,#F7E93F #FB09B4 #9100F8) ; */
}
.navigation-bar .links ul{
    list-style: none;
    display: flex;
    gap: 32px;
}
.navigation-bar .links ul a{
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    font-weight: 500;
    line-height: 120%;
}
.navigation-bar .humburger{
    display: none;
}

/* banner section */
/* .banner{
    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.banner .banner-content-parent{
    max-width: 550px;
    margin: 101px auto;
}
.banner-content-parent .microphone{
    max-width: 350px;
} */

/* about section */
.about .about-header .about-description{
    font-weight: 400;
    margin-bottom: 80px;
    color: rgba(255, 255, 255, 0.8);
    line-height: 20px;
}
.about .about-content-parent hr{
    margin-bottom: 80px;
    opacity: 10%;
}
.about .about-footer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    margin-bottom: 120px;
}
.about-footer .about-content .about-num{
    color: #00FF88 ;
    font-size: 3rem;
    font-weight: 900;
    /* text-align: center; */
    margin-bottom: 16px;
    /* padding: 0 20px; */
}
.about-footer .about-content .about-namee{
    color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
}

/*  */

/* small device */
@media screen and (max-width: 576px){
    .navigation-bar .links ul,
    .navigation .btn{
        display: none;
    }
    .navigation-bar .humburger{
        display: flex;
        background: transparent;
        border: none;
        cursor: pointer;
        width: 24px;
        height: 24px;
        margin-right: 20px;
    }
    .about .about-header{
        max-width: 400px;
        text-align: center;
    }
    .about .about-header .about-description{
        margin-bottom: 40px;
    }
    .about .about-content-parent hr{
        margin-bottom: 40px;
    }
    .about .about-footer{
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        margin-bottom: 40px;
    }
}

/* medium device */
@media screen and (min-width: 576px) and (max-width: 992px){
    .navigation-bar .links ul,
    .navigation .btn{
        display: none;
    }
    .navigation-bar .humburger{
        display: flex;
        background: transparent;
        border: none;
        cursor: pointer;
        width: 24px;
        height: 24px;
        margin-right: 20px;
    }
}

/* large device */
@media screen and (max-width: 992px){
    
}