/* font add */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common style */
body{
    background-color: #1A0B2E;
    color: #FFFFFF;
}
.btn{
    padding: 12.5px 16px;
    border: none;
    border-radius: 10000px;
    color: #FFFFFF;
    font-weight: 600;
    /* background-color: #FB09B4; */
    background: linear-gradient(to right top, #F7E93F, #FB09B4, #9100F8);
    cursor: pointer;
    display: flex;
    gap: 4px;
    align-items: center;
}
.width{
    max-width: 1200px;
    margin: 0 auto;
}
.title{
    font-size: 3rem;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 16px;
}
.center{
    text-align: center;
}

/* navigation bar*/
.navigation{
    background-color: #1A0B2E;
    border-bottom: 1px solid #7c17ff43;
}
.navigation-bar{
    max-width: 1200px;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    margin: 0 auto;
    align-items: center;
}
.logo{
    font-size: 3rem;
    font-weight: bold;
}
.wave{
    color: #FB09B4;
    /* background: linear-gradient(to right top,#F7E93F #FB09B4 #9100F8) ; */
}
.navigation-bar .links ul{
    list-style: none;
    display: flex;
    gap: 32px;
}
.navigation-bar .links ul a{
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    font-weight: 500;
    line-height: 120%;
}
.navigation-bar .humburger{
    display: none;
}

/* banner section */
/* .banner{
    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.banner .banner-content-parent{
    max-width: 550px;
    margin: 101px auto;
}
.banner-content-parent .microphone{
    max-width: 350px;
} */

/* about section */
.about .about-header .about-description{
    font-weight: 400;
    margin-bottom: 80px;
    color: rgba(255, 255, 255, 0.8);
    line-height: 20px;
}
.about .about-content-parent hr{
    margin-bottom: 80px;
    opacity: 10%;
}
.about .about-footer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    margin-bottom: 120px;
}
.about-footer .about-content .about-num{
    color: #00FF88 ;
    font-size: 3rem;
    font-weight: 900;
    /* text-align: center; */
    margin-bottom: 16px;
    /* padding: 0 20px; */
}
.about-footer .about-content .about-name{
    color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
}

/* choose section */
.choose{
    background-color: #230E3D;
    padding-top: 120px;
    padding-bottom: 120px;
}
.choose-parent .title{
    margin-top: 0;
    margin-bottom: 40px;
}
#id1{
    grid-area: id1;
    padding: 107px 40px;
}
#id2{
    grid-area: id2;
    padding: 40px;
}
#id3{
    grid-area: id3;
    padding: 40px;
}
#id4{
    grid-area: id4;
    padding: 40px;
}
#id5{
    grid-area: id5;
    padding: 40px;
}
.choose-parent .techwave-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    grid-template-areas: 
    "id1 id2 id2"
    "id1 id3 id3"
    "id4 id4 id5";
}
.techwave{
    background-color: #351165;
    border-radius: 40px;
    text-align: start;
}
.techwave-cards .wave-icon{
    margin-bottom: 16px;
    max-width: 60px;
    max-height: 60px;
}
#id4 i{
    font-size: 3rem;
    max-width: 60px;
    max-height: 60px;
}
.techwave-cards .wave-name{
    margin-bottom: 16px;
    font-size: 1.5rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.8);
}
.techwave-cards .wave-description{
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
}

/* feature section */
.feature-parent .title{
    margin-bottom: 40px;
}
.feature-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}
.feature-cards .card{
    max-width: 380px;
    max-height: 440px;
    border: 1px solid tomato;
    border-radius: 12px;
    text-align: left;
    background-color: #250D44;
    overflow: hidden;
}
.feature-cards .card iframe{
    width: 100%;
    /* max-height: 214px; */
    /* object-fit: cover; */
}
.card .info{
    text-align: left;
    padding: 24px;
}
.card .info .name{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 12px;
    color: rgba(255, 255, 255, 0.8);
}
.card .info .description{
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 12px;
    color: rgba(255, 255, 255, 0.6);
}
.card .info .watch-time{
    display: flex;
    gap: 6px;
    color: #00FF88;
    font-weight: 600;
}


/* small device */
@media screen and (max-width: 576px){
    .title{
        font-size: 2rem;
    }
    .navigation-bar .links ul,
    .navigation .btn{
        display: none;
    }
    .navigation-bar .humburger{
        display: flex;
        background: transparent;
        border: none;
        cursor: pointer;
        width: 24px;
        height: 24px;
        margin-right: 20px;
    }
    .about .about-header .about-description{
        margin-bottom: 40px;
    }
    .about .about-content-parent hr{
        margin-bottom: 40px;
    }
    .about .about-footer{
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        margin-bottom: 40px;
    }
    .choose-parent .techwave-cards{
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 
        "id1"
        "id2"
        "id3"
        "id4"
        "id5";
    }
    .techwave{
        max-width: 400px;
        margin: 0 20px;
    }
    #id1, #id2, #id3, #id4, #id5{
        padding: 24px;
    }
}

/* medium device */
@media screen and (min-width: 576px) and (max-width: 992px){
    .navigation-bar .links ul,
    .navigation .btn{
        display: none;
    }
    .navigation-bar .humburger{
        display: flex;
        background: transparent;
        border: none;
        cursor: pointer;
        width: 24px;
        height: 24px;
        margin-right: 20px;
    }
    .about .about-footer{
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        margin-bottom: 40px;
    }
}

/* large device */
@media screen and (max-width: 992px){
    .navigation-bar .links ul,
    .navigation .btn{
        display: none;
    }
    .navigation-bar .humburger{
        display: flex;
        background: transparent;
        border: none;
        cursor: pointer;
        width: 24px;
        height: 24px;
        margin-right: 20px;
    }

    .choose-parent .techwave-cards{
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 
        "id1"
        "id2"
        "id3"
        "id4"
        "id5";
    }
    .techwave{
        max-width: 100%;
        margin: 0 20px;
    }
    #id1, #id2, #id3, #id4, #id5{
        padding: 24px;
    }
}